

body {
    background-color: #b9ff99;
    display: grid;
    font-weight: bold;
}

header {
    text-align: center;
}

main {
    align-self: end;
}

footer {

}

div {
    min-width: 20em;
    min-height: 20em;
}

a {
    margin-top: 3em;
}

/* above the dice */
.center {
    text-align: center;
}

#right {
    text-align: right;
}
/* the dice block css */
#d1, #d2 {
    background: red;
}

#d3 {
    background: url("images/c.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#d4 {
    background: white;
}

#d5, #d6 {
    background: blue;
}

.dice_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 5px;

}
/* dice size */
.dice {
    border: 2px solid black;
    min-width: 20em;
    min-height: 20em;
    border-radius: 50px;
}


/* roll button */
#roll {
    padding: .5em;
    background-color: purple;
    color: white;
    font-size: 2em;
    border-radius: 7px;
    margin-top: 1em;
}
