body {
    background-color: #69c987;
    display: grid;
    font-weight: bold;
}

header {
    text-align: center;
}

main {
    align-self: end;
}

/* game instruction styles */
ul {
    list-style-type: none;
    border: 3px dotted black;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#blueKey {
    color: blue;
}

#redKey {
    color: red;
}

.centerKey {
    color: black;
}

#dotKey {
    color: white;
}

a {
    margin-top: 3em;
}

/* above the dice */
.center {
    text-align: center;
}

#right {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    text-align: right;
    justify-items: end;
}

#left {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
/* the dice block css */

/* do-nothing dice */
#d1, #d2, #d6 {
    background: white;
}

/* left dice */
#d4 {
    background: blue;
}

/* center dice  */
#d5 {
    background: url("images/c.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* right dice */
#d3 {
    background: red;
}

.dice_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    grid-gap: 5px;

}
/* dice size */
.dice {
    border: 2px solid black;
    min-width: 15em;
    min-height: 15em;
    border-radius: 50px;
}

.smallDice {
    border: 2px solid black;
    width: 5em;
    height: 5em;
    border-radius: 20px;

}

/* roll button */
#roll {
    padding: .5em;
    background-color: purple;
    color: white;
    font-size: 2em;
    border-radius: 7px;
    margin-top: 1em;
}

/* win screen */

#win {
    /* display: none; */
    background-image: url("images/winner.jpeg");
}

#lose {
    /* display: none; */
    background-image: url("images/lost.jpg");
}

/* index.jsp styles */

h1 {
    background-color: goldenrod;
    border: 3px ridge purple;
    border-radius: 5em;
    color: purple;
    max-width: 30%;
    padding: .5em;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

table {
    border-collapse: collapse;
    box-shadow: 2px 3px 4px black;
    max-width: 40%;
}

td, th {
    border: 3px solid grey;
    padding: 0.5em;
}

th {
    background-color: #f0c24d;
}

td {
    background-color: #f2deaa;
}

#gameButton {
    background-color: goldenrod;
    border: 3px ridge purple;
    border-radius: 5em;
    color: purple;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    padding: .5em;
    text-shadow: 1px 1px 1px black;
    transition-property: all;
    transition-duration: .2s;
}

#gameButton a {
    text-decoration: none;
}

#gameButton:hover, #gameButton:focus {
    background-color: yellow;
    box-shadow: 2px 3px 4px black;
}
